:root {
	--default-margin: 0.5rem;

	--font-family: 'Montserrat', system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-size: 0.8rem;
	--font-weight: bold;
	--border-radius: 0.5rem;
	--spacing: 0.25rem;
	--form-element-spacing-vertical: 0.25rem;

	--streamer-color: #ff5c81;
	--moderator-color: #00bf03;
	--vip-color: #ff00d0;
	--partner-color: #00caff;
	--subscriber-color: #9147ff;
	--viewer-color: #146654;

	--background-color: rgb(15, 15, 15);
	
	/* --border-width: 0.25rempx;
	--outline-width: 3px;
	--typography-spacing-vertical: 1.5rem;
	--block-spacing-vertical: calc(var(--spacing) * 2);
	--block-spacing-horizontal: var(--spacing);
	--grid-spacing-vertical: 0;
	--grid-spacing-horizontal: var(--spacing);
	--form-element-spacing-horizontal: 1rem;
	--nav-element-spacing-vertical: 1rem;
	--nav-element-spacing-horizontal: 0.5rem;
	--nav-link-spacing-vertical: 0.5rem;
	--nav-link-spacing-horizontal: 0.5rem;
	--form-label-font-weight: var(--font-weight);
	--transition: 0.2s ease-in-out;
	--modal-overlay-backdrop-filter: blur(0.25rem); */
}

body {
	width: 100dvw;
	height: 100dvh;
	background-color: rgb(15, 15, 15);
	overflow: hidden;
	position: relative;
}

select {
	width: fit-content;
}

input {
	min-width: 3rem;
	pointer-events: all;
}

.hidden {
	visibility: hidden;
}

.map-container {
	width: 100%;
	height: 100%;
}

.graph-tooltip {
	font: var(--font-family);
	font-size: 500px;
}

.ui-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	pointer-events: none;
}

.left-ui-container {
	display: flex;
	flex-direction: column;
	pointer-events: none;
}

.map-option-container {
	display: flex;
	flex-direction: row;
	gap: var(--default-margin);
	padding: var(--default-margin);
	pointer-events: none;
}

.filter-search-container {
	display: flex;
	flex-direction: row;
	gap: var(--default-margin);
	padding: var(--default-margin);
	align-items: center;
	pointer-events: none;
}

.dropdown {
	margin-bottom: 0;
	height: fit-content;
	pointer-events: all;
}

.button {
	width: fit-content;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 0;
	pointer-events: all;
	height: fit-content;
}

.title {
	--margin: calc(2 * var(--default-margin));

	font-size: 2rem;
	color: var(--streamer-color);
	margin-left: var(--margin);
}

.description {
	font-size: 0.85rem;
	--margin: calc(2 * var(--default-margin));

	color: var(--streamer-color);
	margin-left: var(--margin);
}

.legend-container {
	--margin: calc(2 * var(--default-margin));

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: var(--margin);
	margin-top: var(--margin);
}

.legend {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: center;
	margin-bottom: var(--default-margin);
}

.legend-circle {
	height: 2rem;
	width: 2rem;
	background-color: #fff;
	border-radius: 50%;
}

.streamer-circle {
	background-color: var(--streamer-color);
}

.moderator-circle {
	background-color: var(--moderator-color);
}

.vip-circle {
	background-color: var(--vip-color);
}

.partner-circle {
	background-color: var(--partner-color);
}

.subscriber-circle {
	background-color: var(--subscriber-color);
}

.viewer-circle {
	background-color: var(--viewer-color);
}

.text-shadow {
	text-shadow:
		-0.125rem	-0.125rem	0 rgb(15, 15, 15),
		 0			-0.125rem	0 rgb(15, 15, 15),
		 0.125rem	-0.125rem	0 rgb(15, 15, 15),
		 0.125rem	 0			0 rgb(15, 15, 15),
		 0.125rem	 0.125rem	0 rgb(15, 15, 15),
		 0			 0.125rem	0 rgb(15, 15, 15),
		-0.125rem	 0.125rem	0 rgb(15, 15, 15),
		-0.125rem	 0			0 rgb(15, 15, 15);
}

.streamer-type {
	color: var(--streamer-color);
}

.moderator-type {
	color: var(--moderator-color);
}

.vip-type {
	color: var(--vip-color);
}

.partner-type {
	color: var(--partner-color);
}

.subscriber-type {
	color: var(--subscriber-color);
}

.viewer-type {
	color: var(--viewer-color);
}

.type {
	text-align: center;
	margin-left: var(--default-margin);
}

.right-ui-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	pointer-events: none;
}

.search-container {
	display: flex;
	flex-direction: row;
	gap: var(--default-margin);
	justify-content: left;
}

.filter-label {
	display: inline-block;
	min-width: fit-content;
}

.min-pings-label {
	text-align: right;
	min-width: 2.5rem;
}

#search-field {
	margin-bottom: 0;
}

#min-pings-slider {
	margin-bottom: 0;
}

.checkbox {
	min-width: 1.25rem;
	min-height: 1.25rem;
	width: 1.25rem;
	height: 1.25rem;
	margin-top: 0;
	border-radius: 0.25rem;
}