:root {
	--default-margin: 0.5rem;
	--double-margin: calc(2 * var(--default-margin));

	--font-family: 'Montserrat', system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-size: 0.8rem;
	--font-weight: bold;
	--border-radius: 0.5rem;
	--spacing: 0.25rem;
	--form-element-spacing-vertical: 0.25rem;

	--streamer-color: #ff5e7e;
	--staff-color: #e52e2e;
	--moderator-color: #00ad03;
	--vip-color: #e005b9;
	--artist-color: #0ca2f2;
	--partner-color: #d9ae41;
	--subscriber-color: #a951fb;
	--viewer-color: #009978;

	--text-shadow-width: 0.125rem;
	--negative-text-shadow-width: -0.125rem;
	--new-background-color: rgb(0, 0, 0);

	--pico-primary: #008dd3;
	--pico-outline: #374956;
	--pico-subtle-grey: hsl(205, 16%, 77%);
}

body {
	width: 100dvw;
	height: 100dvh;
	background-color: var(--new-background-color);
	overflow: hidden;
	position: relative;
}

.force-graph-container {
	background-color: transparent;
}

select {
	width: fit-content;
}

/* button {
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 0.1rem;
} */

input {
	min-width: 3rem;
	pointer-events: all;
}

table {
	margin-bottom: var(--default-margin);
}

tbody {
	padding-right: var(--default-margin);
}

tbody tr:hover td {
	/* border-width: 0.175rem;
	border-color: var(--pico-subtle-grey);
	border-style: solid; */
	/* filter: hue-rotate(90deg); */
	filter: brightness(150%);
}

tbody tr:active td {
	/* border-width: 0.175rem;
	border-color: var(--pico-subtle-grey);
	border-style: solid; */
	/* filter: hue-rotate(90deg); */
	filter: brightness(200%);
}

th {
	font-size: 1rem;
	min-width: fit-content;
	white-space: nowrap;
}

tr th {
	border-bottom-color: #424242;
}

tr td {
	color: inherit;
}

.hidden {
	visibility: hidden;
}

.loading-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-icon {
	border: 1.1rem solid rgb(250, 250, 250);
	border-top: 1.1rem solid var(--pico-primary);
	border-radius: 50%;
	width: 4em;
	height: 4rem;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.map-container {
	width: 100%;
	height: 100%;
	background-color: var(--new-background-color);
}

.force-graph-container .graph-tooltip {
	font: var(--font-family);
	text-align: center;
	/* font-size: 500px; */
}

.ui-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	pointer-events: none;
}

.left-ui-container {
	display: flex;
	flex-direction: column;
	pointer-events: none;
}

.map-option-container {
	display: flex;
	flex-direction: row;
	gap: var(--default-margin);
	padding: var(--default-margin);
	padding-top: -5rem;
	pointer-events: none;
}

.dropdown {
	margin-bottom: 0;
	height: fit-content;
	pointer-events: all;
}

.button {
	width: fit-content;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 0;
	pointer-events: all;
	height: fit-content;
}

.collapsible-info-container {
	display: flex;
	flex-direction: column;
}

.info-container {
	position: relative;
	top: -2.7rem;
}

.collapse-arrow-container {
	pointer-events: all;
	cursor: pointer;
	width: fit-content;
	margin: var(--default-margin);
}

.collapse-arrow-container:hover {
	filter: brightness(150%);
}

.collapse-arrow-container:active {
	filter: brightness(200%);
}

.info-collapse-arrow-container {
	margin-top: 0.75rem;
}

.collapse-arrow {
	display: block;
	margin: 0;
	width: auto;
	height: 1.4rem;
	pointer-events: all;
	cursor: pointer;
	stroke: var(--new-background-color);
	stroke-width: 2rem;
	stroke-linejoin: round;
	paint-order: stroke;
}

.collapse-left-animation {
	animation: collapse-left 0.15s forwards ease-in-out 1;
}

.expand-right-animation {
	animation: expand-right 0.15s forwards ease-in-out 1;
}

.collapse-down-animation {
	animation: collapse-down 0.15s forwards ease-in-out 1;
}

.expand-up-animation {
	animation: expand-up 0.15s forwards ease-in-out 1;
}

.collapse-to-right-animation {
	animation: collapse-to-right 0.15s forwards ease-in-out 1;
}

.expand-to-left-animation {
	animation: expand-to-left 0.15s forwards ease-in-out 1;
}

@keyframes collapse-left {
	0% { transform: translateX(0); }
	100% { transform: translateX(-110%); }
}

@keyframes expand-right {
	0% { transform: translateX(-110%); }
	100% { transform: translateX(0%); }
}

@keyframes collapse-to-right {
	0% { transform: translateX(0%); }
	100% { transform: translateX(110%); }
}

@keyframes expand-to-left {
	0% { transform: translateX(110%); }
	100% { transform: translateX(0%); }
}

@keyframes collapse-down {
	0% { transform: translateY(0); }
	100% { transform: translateY(110%); }
}

@keyframes expand-up {
	0% { transform: translateY(110%); }
	100% { transform: translateY(0%); }
}

.flip-arrow {
	transform: scaleX(-1);
}

.rotate-up-arrow {
	transform: rotate(90deg);
}

.rotate-down-arrow {
	transform: rotate(-90deg);
}

.title {
	margin: var(--double-margin);
	margin-left: 3.5rem;
	font-size: 2rem;
	color: var(--streamer-color);
}

.description {
	font-size: 0.85rem;
	color: var(--streamer-color);
	margin-left: var(--double-margin);
}

.legend-container {
	--margin: calc(2 * var(--default-margin));

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: var(--margin);
	margin-top: var(--margin);
}

.legend {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: center;
	margin-bottom: var(--default-margin);
}

.legend-circle {
	height: 2rem;
	width: 2rem;
	background-color: #fff;
	border-style: solid;
	border-color: var(--new-background-color);
	border-radius: 50%;
	border-width: 0.2rem;
	pointer-events: all;
	cursor: pointer;
}

.legend-circle:hover {
	filter: brightness(150%);
}

.legend-circle:active {
	filter: brightness(200%);
}

.streamer-circle {
	background-color: var(--streamer-color);
}

.staff-circle {
	background-color: var(--staff-color);
}

.moderator-circle {
	background-color: var(--moderator-color);
}

.vip-circle {
	background-color: var(--vip-color);
}

.artist-circle {
	background-color: var(--artist-color);
}

.partner-circle {
	background-color: var(--partner-color);
}

.subscriber-circle {
	background-color: var(--subscriber-color);
}

.viewer-circle {
	background-color: var(--viewer-color);
}

.text-shadow {
	text-shadow:
		var(--negative-text-shadow-width)	var(--negative-text-shadow-width)	0 var(--new-background-color),
		var(--negative-text-shadow-width)	0									0 var(--new-background-color),
		var(--negative-text-shadow-width)	var(--text-shadow-width)			0 var(--new-background-color),
		0									var(--negative-text-shadow-width)	0 var(--new-background-color),
		0			 						var(--text-shadow-width)			0 var(--new-background-color),
		var(--text-shadow-width)			var(--negative-text-shadow-width)	0 var(--new-background-color),
		var(--text-shadow-width)			0									0 var(--new-background-color),
		var(--text-shadow-width)			var(--text-shadow-width)			0 var(--new-background-color);	
}

.type {
	text-align: center;
	margin-left: var(--default-margin);
	pointer-events: all;
	cursor: pointer;
}

.type:hover {
	filter: brightness(150%);
}

.type:active {
	filter: brightness(200%);
}

.streamer-type {
	color: var(--streamer-color);
}

.staff-type {
	color: var(--staff-color);
}

.moderator-type {
	color: var(--moderator-color);
}

.vip-type {
	color: var(--vip-color);
}

.artist-type {
	color: var(--artist-color);
}

.partner-type {
	color: var(--partner-color);
}

.subscriber-type {
	color: var(--subscriber-color);
}

.viewer-type {
	color: var(--viewer-color);
}

.right-ui-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	pointer-events: none;
}

.filter-search-container {
	display: flex;
	flex-direction: row;
	gap: var(--default-margin);
	padding: var(--default-margin);
	align-items: center;
	pointer-events: none;
}

.search-container {
	display: flex;
	flex-direction: row;
	gap: var(--default-margin);
	justify-content: left;
}

.filter-label {
	/* display: inline-block; */
	min-width: fit-content;
	text-align: center;
}

.min-pings-label {
	text-align: right;
	min-width: 1.85rem;
}

.performance-mode-container {
	align-items: center;
	justify-content: center;
	gap: var(--default-margin);
	padding: var(--default-margin);
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.slider::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	border-style: solid;
	border-width: 0.2rem;
	border-color: var(--new-background-color);
	background-color: var(--pico-subtle-grey);
	height: 0.6rem;
}

.slider::-moz-range-track {
	border-style: solid;
	border-width: 0.01rem;
	border-color: var(--pico-outline);
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: var(--pico-primary);
}

.slider::-moz-range-thumb {
	background: var(--pico-primary);
}

.checkbox {
	align-self: center;
	min-width: 19px;
	min-height: 19px;
	width: 19px;
	height: 19px;
	margin-left: 0.5rem;
	margin-top: -0.175rem;
	margin-right: 0;
	margin-bottom: 0;
	border-radius: 0.25rem;
}

.collapsible-leaderboard-container {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.leaderboard-container {
	margin: var(--default-margin);
	margin-top: 0;
	padding: var(--default-margin);
	padding-top: 0;
	background-color: rgba(15, 15, 15, 0.5);
	border-style: solid;
	border-width: 0.1rem;
	border-color: var(--pico-outline);
	border-radius: 0.5rem;
	pointer-events: all;
	overflow: hidden;
}

.table-text {
	font-size: 0.9rem;
}

.table-text-shadow {
	--width: 0.1rem;
	--negative-width: -0.1rem;

	text-shadow:
		var(--negative-width)	var(--negative-width)	0 var(--new-background-color),
		var(--negative-width)	0						0 var(--new-background-color),
		var(--negative-width)	var(--width)			0 var(--new-background-color),
		0						var(--negative-width)	0 var(--new-background-color),
		0			 			var(--width)			0 var(--new-background-color),
		var(--width)			var(--negative-width)	0 var(--new-background-color),
		var(--width)			0						0 var(--new-background-color),
		var(--width)			var(--width)			0 var(--new-background-color);
}

.dataTables_scrollBody {
	padding-right: var(--default-margin);
}

.green-text {
	color: #32cd32;
}

.blue-text {
	color: #1e90ff;
}

.first-place {
	background-color: rgba(255, 215, 0, 0.75);
}

.second-place {
	background-color: rgba(192, 192, 192, 0.75);
}

.third-place {
	background-color: rgba(205, 127, 50, 0.75);
}

.collapsible-stats-container {
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: row;
	margin: 0;
	align-items: center;
	pointer-events: none;
}

.stats-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: center;
	vertical-align: middle;
	gap: var(--double-margin);
	pointer-events: none;
}

.user-stats-container {
	min-width: fit-content;
	width: 10rem;
}

.credits-container {
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: row;
	pointer-events: none;
}

.credits {
	font-size: 1rem;
	margin: var(--default-margin);
	vertical-align: middle;
}

.heart-shadow {
	--heart-shadow-width: 0.035rem;
	--negative-heart-shadow-width: -0.035rem;

	text-shadow:
		var(--negative-heart-shadow-width)	var(--negative-heart-shadow-width)	0 var(--new-background-color),
		var(--negative-heart-shadow-width)	0									0 var(--new-background-color),
		var(--negative-heart-shadow-width)	var(--heart-shadow-width)			0 var(--new-background-color),
		0									var(--negative-heart-shadow-width)	0 var(--new-background-color),
		0			 						var(--heart-shadow-width)			0 var(--new-background-color),
		var(--heart-shadow-width)			var(--negative-heart-shadow-width)	0 var(--new-background-color),
		var(--heart-shadow-width)			0									0 var(--new-background-color),
		var(--heart-shadow-width)			var(--heart-shadow-width)			0 var(--new-background-color);	
}

.greencomfytea {
	color: #9acd32;
	text-decoration: none;
	pointer-events: all;
}

.greencomfytea:hover {
	filter: brightness(150%);
}

.greencomfytea:active {
	filter: brightness(200%);
}

.crippledbyte {
	color: #25cdd4;
	text-decoration: none;
	pointer-events: all;
}

.crippledbyte:hover {
	filter: brightness(150%);
}

.crippledbyte:active {
	filter: brightness(200%);
}

.github {
	height: 20px;
	margin: var(--default-margin);
	margin-left: 0rem;
	vertical-align: middle;
	pointer-events: all;
}

.github:hover {
	filter: brightness(75%);
}

.github:active {
	filter: brightness(50%);
}

.disabled {
	pointer-events: none;
	opacity: .5;
}

#min-pings-slider {
	margin-bottom: 0;
}

#search-field {
	margin-bottom: 0;
}
